.content {
  margin-bottom: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.metadata {
  max-width: 400px;
}

.list dt {
  font-size: 75%;
  vertical-align: top;
}

.metadata h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.metadata div {
  margin-top: 0;
  padding-top: 0;
}

a, a:link {
  color: inherit;
}


table {
    line-height: 2em;
}

tr {
    height: 1px;
}

td {
    height: 100%;
}

.stundenplan-table {
    border-collapse: collapse;
}
.stundenplan {
     width: fit-content;
     border: 1px solid;
     border-collapse: collapse;
     padding-right: 10px;
     padding-left: 10px;
     white-space: nowrap;
}

.stundenplan-left-hidden {
     width: fit-content;
     border: 1px solid;
     border-collapse: collapse;
     border-left-style: hidden;
     padding-right: 10px;
     padding-left: 10px;
     white-space: nowrap;
}

.stundenplan-bottom-hidden {
     width: fit-content;
     border: 1px solid;
     border-collapse: collapse;
     border-bottom-style: hidden;
     padding-right: 10px;
     padding-left: 10px;
     white-space: nowrap;
}

.stundenplan-left-bottom-hidden {
     width: fit-content;
     border: 1px solid;
     border-collapse: collapse;
     border-left-style: hidden;
     border-bottom-style: hidden;
     padding-right: 10px;
     padding-left: 10px;
     white-space: nowrap;
}

.curly-bracket {
    padding-right: 1vw !important;
    padding-left: 3vw !important;
    line-height: 2em !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.textblock {
  text-align: left;
}


.tb {
    text-align: center;
    display: flex;
    align-items: center;
    
}

.cbr-li {
  border-left: 10px solid;
  border-image-source: url('..//resources/images/bracket_li.svg');
  border-image-slice: 0 0 0 100;
  border-image-width: 0 0 0 40px;
  padding: 8vw;
}

.cbr-ri {
  border-left: 10px solid;
  border-image-source: url('..//resources/images/bracket_li.svg');
  border-image-slice: 0 100 0 0;
  border-image-width: 0 40px 0 0;
  padding: 8vw;
}

.cbr-ti {
    border-image-source: url('..//resources/images/bracket_ti.svg');
    border-image-slice: 100 0 0 0;
    border-image-width: 30% 0 0 0;
    padding-top: 1vw;
    display: table ;
    margin-top: 1vw;
}

.cbr-bi {
    border-image-source: url('..//resources/images/bracket_bi.svg');
    border-image-slice: 0 0 100 0;
    border-image-width: 0 0 30% 0;
    padding-bottom: 1vw;
}

.cbr-lo {
  border-left: 10px solid;
  border-image-source: url('..//resources/images/bracket_ri.svg');
  border-image-slice: 0 0 0 100;
  border-image-width: 0 0 0 40px;
  padding-left: 2vw;
}

.cbr-ro {
    border-left: 10px solid;
    border-image-source: url('..//resources/images/bracket_ri.svg');
    border-image-slice: 0 100 0 ;
    border-image-width: 0 40px 0 0;
    padding: 3vw;
}

.cbr-to {
    border-image-source: url('..//resources/images/bracket_bi.svg');
    border-image-slice: 100 0 0 0;
    border-image-width: 30% 0 0 0;
    padding-top: 1vw;
    display: table ;
    margin-top: 1vw;
}

.cbr-bo {
    border-image-source: url('..//resources/images/bracket_ti.svg');
    border-image-slice: 0 0 100 0;
    border-image-width: 0 0 30% 0;
    padding-bottom: 1vw;
}

.tippy-box .reading-head {
    margin: 0.2em 0 0.1em;
    font-size: 0.85em;
    font-weight: 600;
}

.tippy-content {
    overflow: auto !important;
    max-height: 70vh !important;
}
.pb-popover div {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    display: inline;
}

.pb-popover div .tei-lb6 {
    display: none;
}
